{% extends 'base.html' %}

{% block title %}로그인 - AutoMaking{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">로그인</h2>
                
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    
                    {{ form.as_p }}
                    
                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="submit">로그인</button>
                    </div>
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'account_reset_password' %}" class="text-decoration-none">비밀번호를 잊으셨나요?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}